name: .NET Core

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  release:
    types: [ released ]

jobs:
  build:
    name: Build

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.100

    - name: Install dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --configuration Release --no-restore

    - name: Test
      run: dotnet test --configuration Release --no-build --verbosity minimal

    - name: Pack (Prerelease)
      id: pack-prerelease
      if: github.event_name == 'push'
      run: dotnet pack --configuration Release --no-build --output nupkgs --version-suffix alpha.$GITHUB_RUN_NUMBER

    - name: Pack (Release)
      id: pack-release
      if: github.event_name == 'release'
      run: dotnet pack --configuration Release --no-build --output nupkgs

    - name: Upload Artifacts
      if: (steps.pack-release == 'success') || (steps.pack-prerelease == 'success')
      uses: actions/upload-artifact@v2
      with:
        name: nupkgs
        path: nupkgs

  publish:
    if: (github.event_name == 'push') || (github.event_name == 'release')
    name: Publish
    needs: [ build ]
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.100

    - name: Download Artifacts
      uses: actions/download-artifact@v2
      with:
        name: nupkgs
        path: nupkgs

    - name: Push (GitHub Packages)
      run: dotnet nuget push "nupkgs/*.nupkg" --source https://nuget.pkg.github.com/teraa/index.json --api-key ${{ secrets.GITHUB_TOKEN }} --skip-duplicate
    
    - name: Push (NuGet.org)
      if: github.event_name == 'release'
      run: dotnet nuget push "nupkgs/*.nupkg" --source https://api.nuget.org/v3/index.json --api-key ${{ secrets.NUGET_TOKEN }} --skip-duplicate

env:
  DOTNET_NOLOGO : true
  DOTNET_CLI_TELEMETRY_OPTOUT : true
