name: .NET

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  release:
    types: [ released ]
  workflow_dispatch:
    inputs:
      nuget:
        description: 'Publish to NuGet'
        required: true
        type: boolean
        default: false

jobs:
  build:
    name: Build

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Setup .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '6.0.x'

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --configuration Release --no-restore

      - name: Test
        run: dotnet test --configuration Release --no-build --verbosity minimal

      - name: Pack (Prerelease)
        id: pack-prerelease
        if: >
          (github.event_name == 'push') ||
          (github.event_name == 'workflow_dispatch')
        run: dotnet pack --configuration Release --no-build --output nupkgs --version-suffix alpha.$GITHUB_RUN_NUMBER

      - name: Pack (Release)
        id: pack-release
        if: github.event_name == 'release'
        run: dotnet pack --configuration Release --no-build --output nupkgs

      - name: Upload Artifacts
        if: >
          (steps.pack-release.outcome == 'success') ||
          (steps.pack-prerelease.outcome == 'success')
        uses: actions/upload-artifact@v2
        with:
          name: nupkgs
          path: nupkgs

  publish:
    if: >
      (github.event_name == 'push') ||
      (github.event_name == 'release') ||
      (github.event_name == 'workflow_dispatch')
    name: Publish
    needs: [ build ]
    runs-on: ubuntu-latest

    steps:
      - name: Setup .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '6.0.x'

      - name: Download Artifacts
        uses: actions/download-artifact@v2
        with:
          name: nupkgs
          path: nupkgs

      - name: Push (GitHub Packages)
        run: dotnet nuget push "nupkgs/*.nupkg" --source https://nuget.pkg.github.com/teraa/index.json --api-key ${{ secrets.GITHUB_TOKEN }} --skip-duplicate

      - name: Push (NuGet.org)
        if: >
          (github.event_name == 'release') ||
          (github.event_name == 'workflow_dispatch' && github.event.inputs.nuget == 'true')
        run: dotnet nuget push "nupkgs/*.nupkg" --source https://api.nuget.org/v3/index.json --api-key ${{ secrets.NUGET_TOKEN }} --skip-duplicate

env:
  DOTNET_NOLOGO: true
  DOTNET_CLI_TELEMETRY_OPTOUT: true
